<div class="container">
    <br>

    <div class="panel panel-info">
        <h3 class="text-center">Lista de Ciudades</h3>
        <a href="/WF/#!/newCity" class="btn btn-success text-center pull-right"> Add</a>
        <br><br>
        <div class="row">
            <div class="col-md-6" style="margin: 1%;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="buscar..." ng-model="searchText">               
                
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" ng-click="listCity()"></i></button>
                    </span>    
                </div>
            </div>            
        </div>
                       
        <div class='table-responsive'>
            <table class="table table-bordered table-condensed">
                <tr class="info">
                    <th>#ID</th>
                    <th>Ciudad</th>
                    <th>Acciones</th>
                </tr>
                <tr ng-repeat="n in ciudadList | filter: {ciu_nombre:searchText}">
                    <td>{{n.ciu_id}}</td>
                    <td>{{n.ciu_nombre}}</td>
                    <td>
                        <a href="/WF/#!/editCity/{{n.ciu_id}}/{{n.ciu_nombre}}" class='btn btn-primary'>
                                <i class='fa fa-pencil-square-o'></i>
                        </a>
                        
                        <a href="/WF/#!/deleteCity/{{n.ciu_id}}/{{n.ciu_nombre}}" class='btn btn-danger'>
                                <i class='fa fa-trash-o'></i>
                        </a>
                        
                    </td>
                </tr>                
            </table>
        </div>
    </div>    
</div>  