<header>
    <div class="btn-group">      
        <button class="btn btn-default">Inicio</button>
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
                    data-toggle="dropdown" aria-extended="true">
                Registros
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="dropdown-header">Registros Maestros</li>
                <li class="divider"></li>
                <li role="presentation">
                    <a role="item" href="/WF/#!/listCity">Ciudades</a> 
                </li>
            </ul>
        </div>
          
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" id="menu2"
                    data-toggle="dropdown" aria-extended="true">
                Registros
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                <li role="presentation" class="dropdown-header">Registros Maestros</li>
                <li class="divider"></li>
                <li role="presentation">
                    <a role="item" href="/WF/#!/listCity">Ciudades</a> 
                </li>
            </ul>
        </div>
    </div>
</header>
